<header class="dataContainer">
        <a href="#"  id="brandName">Forecast</a>
    
        <nav class="navbarStandard">

         <!-- If home is active route, show all links, if its not, only show Home -->

          <span class="menuItems">
            <a 
            pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600"  href="#home" 
            routerLink="/" routerLinkActive [routerLinkActiveOptions]="{exact:
              true}" #rla="routerLinkActive">Home </a>
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600"  href="#search" *ngIf="rla.isActive">Search </a>
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" href="#browse" *ngIf="rla.isActive">Browse</a>
            <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" href="#map" *ngIf="rla.isActive">Map</a>
            <a routerLink="/contact" id="contactLink" *ngIf="rla.isActive">Contact</a>
          </span>
    
          <span class="icon hamburger" (click)="openSideMenu(sideMenu)">
              <i class="fa fa-bars"></i>
          </span>
        </nav >
</header>
    
<nav class="navbarHamburger " #sideMenu>
  <a (click)="closeSideMenu(sideMenu)"
  pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600"  href="#home" 
  routerLink="/" routerLinkActive [routerLinkActiveOptions]="{exact:
    true}" #rla="routerLinkActive">Home </a>
  <a (click)="closeSideMenu(sideMenu)" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600"  href="#search" *ngIf="rla.isActive">Search </a>
  <a (click)="closeSideMenu(sideMenu)" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" href="#browse" *ngIf="rla.isActive">Browse</a>
  <a (click)="closeSideMenu(sideMenu)" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="600" href="#map" *ngIf="rla.isActive">Map</a>
  <a (click)="closeSideMenu(sideMenu)" routerLink="/contact" id="contactLink" *ngIf="rla.isActive">Contact</a>
         
</nav >  
