<header class="dataContainer">
        <a href="#" id="brandName">Forecast</a>
    
        <nav class="navbarStandard">
          <span class="menuItems">
            <a href="">Home</a>
            <a href="">Search</a>
            <a href="">Browse</a>
            <a href="">Map</a>
            <a href="" id="contactLink" >Contact</a>
          </span>
    
          <span class="icon hamburger" (click)="displaySideMenu(sideMenu)">
              <i class="fa fa-bars"></i>
          </span>
        </nav >
</header>
    
<nav class="navbarHamburger " #sideMenu>
        <a href="">Home</a>
        <a href="">Search</a>
        <a href="">Browse</a>
        <a href="">Map</a>
        <a href="" id="contactLink" >Contact</a>
</nav >  
