<div id="map" class="interactiveMap dataContainer">
  <h3 class="smallHeading">Map</h3>

  <agm-map [fitBounds]="mapBounds"
  (boundsChange)="mapBoundsChanged($event)"
  (zoomChange)="logZoom($event)">

  <agm-marker [longitude]="SW.lon" [latitude]="SW.lat">
    <agm-info-window>
      <p>SW</p>
    </agm-info-window>
  </agm-marker>

  <agm-marker [longitude]="NE.lon" [latitude]="NE.lat">
      <agm-info-window>
          <p>NE</p>
        </agm-info-window>
  </agm-marker>


  <agm-marker [longitude]="SWcurrent.lon" [latitude]="SWcurrent.lat" [iconUrl]="'https://www.clker.com/cliparts/g/N/b/T/A/k/google-maps-icon-green-md.png'">
      <agm-info-window>
        <p>SW Current</p>
      </agm-info-window>
    </agm-marker>

    <agm-marker [longitude]="NEcurrent.lon" [latitude]="NEcurrent.lat" [iconUrl]="'https://www.clker.com/cliparts/g/N/b/T/A/k/google-maps-icon-green-md.png'">
        <agm-info-window>
            <p>NE Current</p>
          </agm-info-window>
    </agm-marker>

    <agm-marker-cluster [zoomOnClick]="false" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">

      <!-- OverLay is the marker -->
      <agm-overlay
        *ngFor="let city of cities; index as i"
        [latitude]="city?.coord?.Lat+0.01"
        [longitude]="city?.coord?.Lon">

        <!-- Popup window design -->
        <app-my-marker [displayInfo]="city"></app-my-marker>

      </agm-overlay>
    </agm-marker-cluster>
  </agm-map>

</div>
