.interactiveMap{
    height: 520px;
    background-color: #384347;
}

.smallHeading{
    color:white;
    text-align: center;
    padding:20px ;
}
.mapPlaceHolder{
    height: 400px !important;
    background: #4c7f92;
}

.mapPlaceHolder iframe{
    height: 400px;
}