<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <div class="datePick">
        <input class="form-control"
             name="dp" [ngModel]="currentDate" (dateSelect)="updateDateTime($event)" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
          <button class="lastSample" (click)="updateForCurrent()"> Last Sample </button>
      </div>
      </div>
    </div>
  </div>
</form>



