/*
.datePick input{
    cursor: inherit;
    display: block;
    /* font-size: 999px; */
    /* min-height: 10px;
    min-width: 10px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
*/

button {
    margin: 0 auto;
    color:white;
    border: 0.7px solid white;
}
.form-group {
    margin:0 auto;
}
.datePick input{
    text-align: center;
}

.lastSample{
    outline-color:#616A72;
    background-color:transparent;
    cursor: pointer;
    border-radius: 3px;
}
.lastSample:hover{
    background-color: #616A72;
    border-color: #616A72;
}
