<div id="contact" class="dataContainer">
  <p class="smallHeading">Contact</p>
  <form (submit)="checkStuff()" #contactForm  >
   <div class="conatainer-fluid">
     <div class="row">
        
      <div class="personInfo col-11 col-md-6 ">

          <div class="input-container">
              <i class="fa fa-user icon"></i>
              <input class="input-field" type="text" placeholder="Name" name="name" required>
          </div>
        
          <div class="input-container">
            <i class="fa fa-envelope icon "></i>
            <input class="input-field" type="email" placeholder="E-mail" name="email" required> 
          </div>

         
          <div class="input-container">
              <textarea class="input-field" placeholder="Message" name="message" cols="30" rows="10" required>
  
              </textarea>
          </div>
      </div>
      <div class="imageUpload col-11 col-md-6 blackBorder ">

      <div class="innerElements blackBorder align-self-end" >
        
        <!-- Upload Works, but if you select 2 times, and upload, 2 items will be uploaded -->
      <label class="uploadImage">

          <img [src]="imageUrl" >
            
          <button>Upload</button>
    
            <input 
            required
            class="blackBorder"
            (change)="onFileSelected($event)"
            (change)="handleFileInput($event.target.files)"
            (click)="uploader.uploadAll()"
            single ng2FileSelect [uploader]="uploader"
            type="file" name="photo" id="uploadImage" #image>
          </label>


          <div class="row uploadList" *ngFor="let upload of uploader.queue" >
              <span>   {{upload.file.name}}</span>
                <button
              (click)="upload.remove()"
              >Remove</button>
              </div>  
    
          <div class="progress">
            <div class="progress-bar" 
            [ngStyle]="{width: uploader.progress+'%'}"></div>
            <span class="progressIndicator">{{uploader.progress}}%</span>
    
          </div>
          
          <button type="submit" >SEND</button>
    
            <!-- [disabled]="image.value == '' || !contactForm.valid" -->
      </div>
      
      </div>
     </div>
   </div>
  </form>
</div>