<div id="contact" class="dataContainer">
  <p class="smallHeading">Contact</p>
  <form (submit)="checkStuff()" #contactForm  >
   <div class="conatainer-fluid">
     <div class="row">
        
      <div class="personInfo col-12 col-md-6  ">

          <div class="input-container">
              <i class="fa fa-user icon"></i>
              <input class="input-field" type="text" placeholder="Name" name="name" required>
          </div>
        
          <div class="input-container">
            <i class="fa fa-envelope icon "></i>
            <input class="input-field" type="email" placeholder="E-mail" name="email" required> 
          </div>

          
          <div class="input-container">
              <textarea class="input-field" placeholder="Message" name="message" cols="30" rows="10" required></textarea>
          </div>
      </div>
      <div class="imageUpload col-12 col-md-6  ">

      <div class="innerElements  align-self-end "  >

        <!-- <input type="file" (change)="onFileSelected($event)">
        <button (click)="onUpload()" >Upload</button> -->
        
        <!-- Upload Works, but if you select 2 times, and upload, 2 items will be uploaded -->
        <img [src]="imageUrl" *ngIf="imageUrl" >
     
        <label class="uploadImage " >

          <button >Upload</button>
    
            <input 
            required
            style="border:2px solid pink"
            (change)="onFileSelected($event); "
            (change)="handleFileInput($event.target.files)"
           
            single ng2FileSelect [uploader]="uploader"
            type="file" name="photo" id="uploadImage" #image>
          </label>


          <div class="row uploadList" *ngFor="let upload of uploader.queue" >
              <span>   {{upload.file.name}}</span>
                <button
              (click)="upload.remove()"
              >X</button>
              </div>  
    
          <div class="progress">
            <div class="progress-bar" 
            [ngStyle]="{width: uploader.progress+'%'}"></div>
            <span class="progressIndicator ">{{uploader.progress}}%</span>
            <span *ngIf="uploader.progress==100" class="progressIndicator"> Success</span>
          </div>
          
          <button  (click)="uploader.uploadAll()" type="submit" >SEND</button>
    
      </div>
      
      </div>
     </div>
   </div>
  </form>
</div>