<div id="contact" class="dataContainer">
  <h3 class="smallHeading">Contact</h3>
  <form action="checkStuff()">
    <div class="personInfo">
      <div>
        <label for=""></label>
        <input type="text" required>
      </div> 
      <div>
          <label for=""></label>
          <input type="email" required>
        </div> 
      <textarea name="message" id="" cols="30" rows="10">

      </textarea>
    </div>
    <div class="imageUpload">
      <button></button>
      <div class="progressBar">
        
      </div>
      <button type="submit"></button>
    </div>
  </form>
</div>