#airPolution{
    height: 350px;
    background-color: #384347;
   
}

.smallHeading{
    color:white;
    text-align: center;
    padding:20px ;
    margin-bottom: -25px;
}

.pollutionDetails{
    margin-top: 15px;
    height: 280px;
    overflow: scroll;
}
.whiteBorder{
   border:  1px solid white;
}

pre{
    color:white;
}