#airPolution{
    height: 350px;
    background-color: #384347;
    color:white;
   
}
.blackBorder{
    border:1px solid black;
}

.smallHeading{
    text-align: center;
    padding:20px ;
    margin-bottom: -15px;
}

.pollutionDetails{
    margin-top: 15px;
    height: 280px;
   height: fit-content;
}
.whiteBorder{
   border:  1px solid white;
}

pre{
    color:white;
}
.infoBlock{
    border-bottom: 2px solid #39626d;
    
}
.row p label{
    width:105px;
    float:left;
}
.row p span {
    float:right;
}
small{
    color:#7dd0e7;
}

.container-fluid{ 
    min-height: 250px;
    width:100% !important;
}

.errorMsg{
    font-size: 1.6em;
    color:rgb(218, 98, 98);
}