


 <div class="marker" (click)="isClickedToggle()" [ngClass]="{bigmarker: isClicked}">
  <div class="basicInfo markerInfo" >
      <img src="http://openweathermap.org/img/w/{{displayInfo?.weather[0].icon}}.png" alt="Weather Icon">
      <h1> {{displayInfo?.main.temp | number:'1.0-0' }} &#0176;C</h1>
  </div>
  <div class="moreInfo markerInfo" *ngIf="isClicked">
      <div class="basicInfo markerInfo" >
          <img src="https://bit.ly/2MpitCi" alt="Weather Icon" [width]= 60  [height]= 60 >
          <h1> {{displayInfo?.main.humidity}}% humidity </h1>
      </div>
      <div class="basicInfo markerInfo" >
          <img src="http://openweathermap.org/img/w/{{displayInfo?.weather[0].icon}}.png" alt="Weather Icon">
          <h1> {{displayInfo?.wind.speed}} km/h wind </h1>
      </div>

      <p > </p>

  </div>
</div>
