<div class="browseCities dataContainer">
    <h3 class="smallHeading">Browse City</h3>

    <div class="differentCities blackborder">

        <div class="container blackborder2">
            <div class="row">
              <div class="cityQuickInfo ">
                <i class="wi wi-day-sunny-overcast"></i>
                <p class="cityTitle">Berlin</p>
                <p class="cityDetails"> 21 &#0176;C</p>
                <p class="cityDetails">humidity 65%</p>
                <p class="cityDetails">wind 6km/h</p>
                </div>
                <div class="cityQuickInfo ">
                <i class="wi wi-day-sunny-overcast"></i>
                <p class="cityTitle">Berlin</p>
                <p class="cityDetails"> 21 &#0176;C</p>
                <p class="cityDetails">humidity 65%</p>
                <p class="cityDetails">wind 6km/h</p>
                </div>
                <div class="cityQuickInfo ">
                <i class="wi wi-day-sunny-overcast"></i>
                <p class="cityTitle">Berlin</p>
                <p class="cityDetails"> 21 &#0176;C</p>
                <p class="cityDetails">humidity 65%</p>
                <p class="cityDetails">wind 6km/h</p>
                </div>
                <div class="cityQuickInfo ">
                <i class="wi wi-day-sunny-overcast"></i>
                <p class="cityTitle">Berlin</p>
                <p class="cityDetails"> 21 &#0176;C</p>
                <p class="cityDetails">humidity 65%</p>
                <p class="cityDetails">wind 6km/h</p>
                </div>
                <div class="cityQuickInfo ">
                <i class="wi wi-day-sunny-overcast"></i>
                <p class="cityTitle">Berlin</p>
                <p class="cityDetails"> 21 &#0176;C</p>
                <p class="cityDetails">humidity 65%</p>
                <p class="cityDetails">wind 6km/h</p>
                </div>
            </div>
            <div class="row">
                <div class="cityQuickInfo ">
                <i class="wi wi-day-sunny-overcast"></i>
                <p class="cityTitle">Berlin</p>
                <p class="cityDetails"> 21 &#0176;C</p>
                <p class="cityDetails">humidity 65%</p>
                <p class="cityDetails">wind 6km/h</p>
                </div>
                <div class="cityQuickInfo ">
                <i class="wi wi-day-sunny-overcast"></i>
                <p class="cityTitle">Berlin</p>
                <p class="cityDetails"> 21 &#0176;C</p>
                <p class="cityDetails">humidity 65%</p>
                <p class="cityDetails">wind 6km/h</p>
                </div>
                <div class="cityQuickInfo ">
                <i class="wi wi-day-sunny-overcast"></i>
                <p class="cityTitle">Berlin</p>
                <p class="cityDetails"> 21 &#0176;C</p>
                <p class="cityDetails">humidity 65%</p>
                <p class="cityDetails">wind 6km/h</p>
                </div>
                <div class="cityQuickInfo ">
                <i class="wi wi-day-sunny-overcast"></i>
                <p class="cityTitle">Berlin</p>
                <p class="cityDetails"> 21 &#0176;C</p>
                <p class="cityDetails">humidity 65%</p>
                <p class="cityDetails">wind 6km/h</p>
                </div>
                <div class="cityQuickInfo ">
                <i class="wi wi-day-sunny-overcast"></i>
                <p class="cityTitle">Berlin</p>
                <p class="cityDetails"> 21 &#0176;C</p>
                <p class="cityDetails">humidity 65%</p>
                <p class="cityDetails">wind 6km/h</p>
                </div>
            </div>
        </div>

        <div class="row">
                
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
                <nav aria-label="Page navigation example" class="paggination">
                        <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#"> &#171; </a></li>
                                <li class="page-item"><a class="page-link" href="#"> 1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#"> &#187; </a></li>
                        </ul>
                </nav>
        </div>        
    </div>
</div>
