.browseCities{
    height: 550px;
    background-color:#F3F3F3;
    
}

.smallHeading{
    color:black;
    text-align: center;
    padding:20px ;
}

.differentCities{
    height: 100%;
}

.cityQuickInfo{
    display:inline-block;
    height: 179px;
    width: 179px ;
    color:black;
    background-color:white;
    margin:5px;
    
    /* border:1px solid black; */
}

.differentCities .row:first-child .cityQuickInfo{
    margin-bottom:30px;
    /* background-color: red; */
}

.row .cityQuickInfo:not(:last-child){
    margin-right:20px;

    /* background-color: blue; */
}


.wi{
    padding-top:20px;
    margin-left:50px;
    font-size: 3.5em;
    font-weight: 100;
    height: 80px;
    width: 80px;
    /* border:1px solid pink; */
}

.cityQuickInfo .cityTitle{
    font-size: 1.7em;
    font-weight: 300;
    color:#404040;
}

.cityQuickInfo .cityDetails{
    font-size:0.75em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  

}

.cityQuickInfo p{
    text-align: center;
    margin:0;
    padding:0;
}

.blackborder{
    /* border:2px solid peru; */
}

.blackborder2{
    /* border: 2px solid blue; */
}

.paggination{
    margin:20px  auto 20px;
}

@media only screen and (max-width: 720px){
    .browseCities{
       height: 700px;
    }
}