<div id="browse" class="browseCities dataContainer">
    <h3 class="smallHeading">Browse City</h3>

    <app-square-loading-spinner *ngIf="showSpinner"></app-square-loading-spinner>

    <div class="cities" *ngIf="!showSpinner">

        <div class="container blackborder2 ">
            <div class="row justify-content-center">
                <div class="cityInfo col-5 col-md-2" *ngFor="let city of pagedCities" (click)="newCity(city?.name)">

                    <img class="wi" *ngIf="city?.name" src="http://openweathermap.org/img/w/{{city?.weather[0].icon}}.png" alt="weather icon">
                    <p class="cityTitle" *ngIf="city?.name">{{city?.name}}</p>
                    <p class="cityDetails" *ngIf="city?.name"> {{city?.main.temp}} &#0176;C</p>
                    <p class="cityDetails" *ngIf="city?.name">{{city?.main.humidity}}% humidity</p>
                    <p class="cityDetails" *ngIf="city?.name">{{city?.wind.speed}} km/h wind</p>
                </div>
            </div>
        </div>
    </div>

    <div id="pager" class="container-fluid">
        <div class="row">
            <nav class="paggination" aria-label="Page navigation example">
                <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                        <a (click)="setPage(1)" class="page-link"> &#171; </a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                        <a (click)="setPage(page)" class="page-link">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                        <a (click)="setPage(pager.totalPages)" class="page-link"> &#187;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
