<div id="search" class="weatherInfo dataContainer">
<h3 class="smallHeading">Search City</h3>
<button (click)=createMyData()>Create</button>

<app-search-bar (weatherData)="setWeatherData($event)"> </app-search-bar> 


<div class="infoDisplay">

    
    <div class="container-fluid blackborder">
        <div class="row backgroundContainer">
            <div class="col-3 mystyle weeklyPeak">
                <div class="row perDay" *ngFor="let day of [1,2,3,4]; index as i" (click)="changeView(i)">
                   
                        <div class="col-6">
                                <div class="row weatherStatus">static</div>
                                <div class="row weatherTemp">stati&#0176;C </div>
                        </div>
                        <div class="col-6  weatherDate">
                                static
                        </div>
                    
                </div>
            </div>
            <div class="col-6 mystyle today">
                
                    <div class=" colRow city">
                        <p >{{weatherData?.city.name}} City</p>
                        <p class="allcaps">{{weatherData?.city.name}}</p>
                    </div>
                    <div class=" colRow dateTime" >
                            <p class="Time">
                                {{currentTime | date:"HH:mm:ss"}}
                            </p>
                            <p class="theDate">
                                {{currentDate}}
                            </p>
                    </div>
                    <div class=" colRow temperature">{{maxTemp | number:'1.0-0'}}&#0176;C</div>

               
            </div >
            
            <div class="col-3 mystyle everyTwoHours">
                <div class="iconWeather">
                <i class="wi wi-cloudy"></i>
                <p>status</p>
                </div>
                <div class="timesPerDay">
                  <div class="timeStatus" *ngFor="let info of weatherData?.list" >
                       
                            <p class="alignText" *ngIf="isTodaysDate(info?.dt_txt)">
                                <span class="alignLeft" *ngIf="checkRange(info?.dt)"> {{info?.dt_txt.substring(11,16)}}</span>
                                <span class="alignLeft" *ngIf="!checkRange(info?.dt)"> Now </span>
                                <span class="alignRight"> {{info?.main.temp_max | number:'1.0-0'}} &#0176;C</span>
                            </p>    
                        
                  </div>
                  
        </div>
    </div>

</div>

</div>