<div id="search" class="weatherInfo dataContainer">
    <h3 class="smallHeading">Search City</h3>

    <app-search-bar (weatherData)="updateWeatherData($event)"></app-search-bar>

    <div class="infoDisplay">

        <app-square-loading-spinner *ngIf="showSpinner"></app-square-loading-spinner>

        <div class="container-fluid" *ngIf="!showSpinner">
            <div class="row backgroundContainer">
                <div class="col-3 mystyle weeklyPeak" *ngIf="myData">
                    <div class="row perDay" *ngFor="let day of myData; index as i" (click)="changePreview(i)" [class.selectedDay]="isSelected(day)">
                        <div class="col-6">
                            <div class="row weatherStatus"> {{day[0]?.weather[0]?.main}}</div>
                            <div class="row weatherTemp"> {{findMaxTemp(day) | number:'1.0-0'}}&#0176;C</div>
                        </div>
                        <div class="col-6  weatherDate">
                            {{day[0]?.dt_txt | date:"dd.MM.yyyy" }}
                        </div>
                    </div>
                </div>
                <div class="col-6 mystyle today">
                    <div class="city" *ngIf="weatherData">
                        <p>{{weatherData?.city?.name}} City</p>
                        <p class="allcaps">{{weatherData?.city?.name}}</p>
                    </div>
                    <div class=" dateTime">
                        <p class="Time" *ngIf="currentTime">
                            {{currentTime | date:"HH:mm:ss"}}
                        </p>
                        <p class="theDate" *ngIf="preview">
                            {{preview[0]?.dt_txt | date:"dd.MM.yyyy" }}
                        </p>
                    </div>
                    <div class=" statsForTheDay" *ngIf="preview">
                        <p> {{preview[0]?.wind.speed}} km/h &#10148; </p>
                        <p> {{preview[0]?.main.pressure}} P &#9879; </p>
                        <p> {{preview[0]?.main.humidity}} humidity &#9730; </p>
                        <p> {{preview[0]?.clouds.all}} clouds &#9729; </p>

                        <p class="temperature">{{findMaxTemp() | number:'1.0-0'}}&#0176;C</p>
                    </div>
                </div>
                <div class="col-3 mystyle everyTwoHours">
                    <div class="weatherIcon">
                        <img src="http://openweathermap.org/img/w/{{preview[0]?.weather[0].icon}}.png" alt="weather icon">
                        <p>{{preview[0]?.weather[0].main}}</p>
                    </div>
                    <div [@listRotatingAnimation]="stateStatus" (@listRotatingAnimation.start)="animationStart($event)"
                        (@listRotatingAnimation.done)="animationFinish($event)" *ngIf="preview" class="timesPerDay">
                        <div class="timeStatus" *ngFor="let threeHourInterval of preview; let f = first; let j = index">
                            <p class="alignText">
                                &nbsp; {{j}}
                                <!--<span class="alignLeft" *ngIf="f"> NOW </span>-->
                                <span class="alignLeft"> {{threeHourInterval.dt_txt | date:"HH:mm"}} </span>
                                <span class="alignRight"> {{threeHourInterval.main.temp_max | number:'1.0-0'}} &#0176;C</span>
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
