<div id="search" class="weatherInfo dataContainer">
<h3 class="smallHeading">Search City</h3>
<!-- <button (click)=createMyData()>Create</button> -->

<app-search-bar (weatherData)="updateWeatherData($event)"> </app-search-bar> 


<div class="infoDisplay">

    
    <div class="container-fluid blackborder">
        <div class="row backgroundContainer">
            <div class="col-3 mystyle weeklyPeak">
                <div class="row perDay" 
                *ngFor="let day of myData; index as i" 
                (click)="changePreview(day,i)"
                [class.selectedDay]="isSelected(day)"
                >                   
                        <div class="col-6">
                                <div class="row weatherStatus"> {{day[0].weather[0].main}}</div>
                                <div class="row weatherTemp">{{findMaxTemp(day) | number:'1.0-0'}}&#0176;C </div>
                        </div>
                        <div class="col-6  weatherDate">
                                {{day[0].dt_txt | date:"dd.MM.yyyy" }}
                        </div>                   
                </div>
            </div>
            <div class="col-6 mystyle today">
                    <div class=" colRow city" *ngIf="weatherData">
                        <p >{{weatherData?.city?.name}} City</p>
                        <p class="allcaps">{{weatherData?.city?.name}}</p>
                    </div>
                    <div class=" colRow dateTime" >
                            <p class="Time" *ngIf="currentTime">
                                {{currentTime | date:"HH:mm:ss"}}
                            </p>
                            <p class="theDate" *ngIf="preview">
                                {{preview[0]?.dt_txt  }}
                            </p>
                    </div>
                    <div class=" colRow daySummary" *ngIf="preview">
                            <p>  {{preview[0]?.wind.speed}} km/h &#10148; </p>
                            <p>  {{preview[0]?.main.pressure}} P &#9879; </p>
                            <p>  {{preview[0]?.main.humidity}} humidity &#9730; </p>
                            <p>  {{preview[0]?.clouds.all}} clouds &#9729; </p>
                           
                        <p class="temperature">{{findMaxTemp() | number:'1.0-0'}}&#0176;C</p>
                            

                   
                    
                    </div>

               
            </div >
            
            <div class="col-3 mystyle everyTwoHours">
                <div class="iconWeather">
                <i class="wi wi-cloudy" style="font-size:3em"></i>
                <img src="http://openweathermap.org/img/w/{{preview[0]?.weather[0].icon}}.png" alt="weather icon">
                <p>{{preview[0]?.weather[0].main}}</p>
                </div>
                <div class="timesPerDay">
                  <div class="timeStatus" *ngFor="let hourly of preview" >
                            <!-- <p>*ngIf="isTodaysDate(info?.dt_txt)"</p> -->
                            <p class="alignText" >
                                <!-- <p>*ngIf="checkRange(info?.dt)"</p> -->
                                <span class="alignLeft" > {{hourly.dt_txt | date:"HH:mm"}}</span>
                                <!-- <span class="alignLeft" *ngIf="!checkRange(info?.dt)"> Now </span> -->
                                <span class="alignRight"> {{hourly.main.temp_max  | number:'1.0-0'}} &#0176;C</span>
                            </p>    
                        
                  </div>
                  
        </div>
    </div>

</div>

</div>